@import "tailwindcss";

/*Ensinando o tailwind a usar as nossas cores*/
@theme{
  /*Paleta padrão (modo claro) */
  --color-primary:#E5E7EB;
  --color-surface:#F3F4F6;
  --color-border-default:#D1D5DB;
  --color-title:#111827;
  --color-body:#6B7280;
  --color-brand:#9770F5;


  /*Paleta especial*/
  --color-success:#16a34a;
  --color-danger:#bf1b1b;

}

@layer components {
  /*Tipografia*/

  .text-titulo{
    font-size:24px;
    font-weight: bold;
  }
  
  .text-subtitulo{
    font-size:18px;
    font-weight:600;
  }

  .text-corpo{
    font-size:16px;
    font-weight: normal;
  }

  .text-detalhes{
    font-size:14px;
    font-weight:500;
  }
}